body {
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
    color: #333;
}

a,
a:hover {
    color: #333;
    text-decoration: none;
}

@font-face {
    font-family: 'wjs';
    src: url(../fonts/MiFie-Web-Font.svg) format('svg'), url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'), url(../fonts/MiFie-Web-Font.ttf) format('truetype'), url(../fonts/MiFie-Web-Font.woff) format('woff');
}

/* 字体图标 */

.icon {
    font-family: wjs;
}

.icon_phone::before {
    content: "\e908"
}

.icon_tel::before {
    content: "\e909"
}

.icon_logo::before {
    content: "\e920";
}

.icon_name::before {
    content: "\e93e";
}

.icon_info::before {
    content: "\e903"
}

.icon_clock::before {
    content: '\e906';
}

.icon_video::before {
    content: '\e905';
}

.wjs_icon_news_01::before {
    content: "\e90e";
}

.wjs_icon_news_02::before {
    content: "\e90f";
}

.wjs_icon_news_03::before {
    content: "\e910";
}

.wjs_icon_news_04::before {
    content: "\e911";
}

.wjs_icon_partner01::before {
    content: "\e946";
}

.wjs_icon_partner02::before {
    content: "\e92f";
}

.wjs_icon_partner03::before {
    content: "\e92e";
}

.wjs_icon_partner04::before {
    content: "\e92a";
}

.wjs_icon_partner05::before {
    content: "\e929";
}

.wjs_icon_partner06::before {
    content: "\e931";
}

.wjs_icon_partner07::before {
    content: "\e92c";
}

.wjs_icon_partner08::before {
    content: "\e92b";
}

.wjs_icon_partner09::before {
    content: "\e92d";
}


/* 顶部 */

.wjs_head {
    font-size: 12px;
    color: #666;
    border-bottom: 1px solid #ccc;
}

.wjs_head .row div {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.wjs_head .row div~div {
    border-left: 1px solid #ccc;
}

.wjs_head .app {
    display: block;
}

.wjs_head .app:hover img {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    border: 1px solid #ccc;
    border-top: none;
}

.wjs_head .app img {
    display: none;
    z-index: 1000;
}

.wjs_head .btn_register {
    font-size: 12px;
    background: #e92322;
    color: #fff;
    padding: 3px 12px;
}

/* 导航栏 */

.wjs_navbar {
    border: none;
    margin-bottom: 0;
    border-bottom: solid #ccc;
}

.icon_logo {
    font-size: 50px;
    color: #e92322;
}

.icon_name {
    font-size: 36px;
    color: #333;
}

.wjs_navbar .navbar-brand {
    height: 80px;
    line-height: 50px;
}

.wjs_navbar .navbar-brand:hover,
.wjs_navbar .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.wjs_navbar .navbar-text {
    color: #777;
}

.wjs_navbar .navbar-nav>li>a {
    color: #777;
    line-height: 50px;
}

.wjs_navbar .navbar-nav>li>a:hover,
.wjs_navbar .navbar-nav>li>a:focus {
    color: #777;
    background-color: transparent;
    border-bottom: 3px solid #e92322;
}

.wjs_navbar .navbar-nav>.active>a,
.wjs_navbar .navbar-nav>.active>a:hover,
.wjs_navbar .navbar-nav>.active>a:focus {
    color: #555;
    border-bottom: 3px solid #e92322;
}

.wjs_navbar .navbar-nav>.disabled>a,
.wjs_navbar .navbar-nav>.disabled>a:hover,
.wjs_navbar .navbar-nav>.disabled>a:focus {
    color: #ccc;
    background-color: transparent;
}

.wjs_navbar .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
}

.wjs_navbar .navbar-toggle:hover,
.wjs_navbar .navbar-toggle:focus {
    background-color: #ddd;
}

.wjs_navbar .navbar-toggle .icon-bar {
    background-color: #888;
}

.wjs_navbar .navbar-collapse,
.wjs_navbar .navbar-form {
    border-color: #e7e7e7;
}

.wjs_navbar .navbar-nav>.open>a,
.wjs_navbar .navbar-nav>.open>a:hover,
.wjs_navbar .navbar-nav>.open>a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .wjs_navbar .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    .wjs_navbar .navbar-nav .open .dropdown-menu>li>a:hover,
    .wjs_navbar .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
        background-color: transparent;
    }
    .wjs_navbar .navbar-nav .open .dropdown-menu>.active>a,
    .wjs_navbar .navbar-nav .open .dropdown-menu>.active>a:hover,
    .wjs_navbar .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .wjs_navbar .navbar-nav .open .dropdown-menu>.disabled>a,
    .wjs_navbar .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .wjs_navbar .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.wjs_navbar .navbar-link {
    color: #777;
}

.wjs_navbar .navbar-link:hover {
    color: #333;
}

.wjs_navbar .btn-link {
    color: #777;
}

.wjs_navbar .btn-link:hover,
.wjs_navbar .btn-link:focus {
    color: #333;
}

.wjs_navbar .btn-link[disabled]:hover,
fieldset[disabled] .wjs_navbar .btn-link:hover,
.wjs_navbar .btn-link[disabled]:focus,
fieldset[disabled] .wjs_navbar .btn-link:focus {
    color: #ccc;
}

/* 轮播图 */

.wjs_banner .pc_imgBox {
    display: block;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wjs_banner .m_imgBox {
    display: block;
    width: 100%;
}

.wjs_banner .m_imgBox img {
    display: block;
    width: 100%;
}

/* 信息模块 */

.wjs_info {
    padding: 15px 0;
    border-top: 1px solid #ccc;
}

.wjs_info .icon_info {
    font-size: 30px;
}

.wjs_info a:hover {
    color: #e92322;
}

.wjs_info a {
    display: block;
    padding: 15px 0;
}

@media (min-width:992px) {
    .wjs_info .container,
    .wjs_book .container {
        width: 900px;
    }
}

/* 预约模块 */

.wjs_book {
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.wjs_book .icon_clock,
.icon_video {
    font-size: 20px;
}

.wjs_book a:hover {
    color: #e92322
}

.wjs_book .book {
    color: #e92322;
    border-bottom: 1px dashed #e92322;
}

/* 产品模块 */

.wjs_product {
    border-top: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 20px 0;
    font-size: 12px;
}

.wjs_product .proBox {
    display: block;
    margin-top: 30px;
    height: 150px;
    box-shadow: 3px 3px 5px #ccc;
    background: #fff;
    position: relative;
}

.wjs_product .proBox.active {
    color: #fff;
    background: #e92322;
} 

.wjs_product .proBox.active::before {
    content: "\e915";
    font-family: wjs;
    font-size: 33px;
    position: absolute;
    top:-7px;
}


.wjs_product .proLeft {
    overflow: hidden;
}

.wjs_product .proBox h4 {
    font-size: 14px;
}

.wjs_product .proRight {
    float: right;
    font-size: 14px;
    width: 80px; 
    height: 150px;   
    text-align: center;
    border-left: 1px dashed #ccc;
    position: relative;
}

.wjs_product .proRight::before {
    content: "";
    width: 12px;
    height: 12px;
    background: #f5f5f5;
    border-radius: 6px;
    box-shadow: 0 -2px 2px #ccc inset;
    z-index: 1000;
    position: absolute;
    left: -6px;
    top: -6px;
}

.wjs_product .proRight::after{
    content: "";
    width: 12px;
    height: 12px;
    background: #f5f5f5;
    border-radius: 6px;
    box-shadow: 0 2px 2px #ccc inset;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: -6px;
}

.wjs_product .proRight b{
    font-size: 40px;
}

.wjs_product sub {
    font-size: 12px;
    bottom: 0;
}

.wjs_product .proRight p:first-child {
    margin-top: 30px;
}

.wjs_product .proRight span {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 14px;
    border: 1px solid;
    margin-top: 10px;
}

.wjs_product .proRight span:first-child {
    color: red;
    border-color: red;
}

.wjs_product .proRight span:last-child {
    color: green;
    border-color: green;
}

.wjs_product .nav-tabs-parent {
    width: 100%;
    overflow: hidden;
}




.wjs_product .nav-tabs {
    border-bottom: 1px solid #ddd;
}

.wjs_product .nav-tabs>li {
    float: left;
    margin-bottom: 0;
    font-size: 14px;
}

.wjs_product .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
}

.wjs_product .nav-tabs>li>a:hover {
    background: #f5f5f5;
}

.wjs_product .nav-tabs>li.active>a,
.wjs_product .nav-tabs>li.active>a:hover,
.wjs_product .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #f5f5f5;
    border: none;
    border-bottom: 3px solid #e92322;
}

.wjs_product .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.wjs_product .nav-tabs.nav-justified>li {
    float: none;
}

.wjs_product .nav-tabs.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
}

.wjs_product .nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

@media (min-width: 768px) {
    .wjs_product .nav-tabs.nav-justified>li {
        display: table-cell;
        width: 1%;
    }
    .wjs_product .nav-tabs.nav-justified>li>a {
        margin-bottom: 0;
    }
}

.wjs_product .nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 4px;
}

.wjs_product .nav-tabs.nav-justified>.active>a,
.wjs_product .nav-tabs.nav-justified>.active>a:hover,
.wjs_product .nav-tabs.nav-justified>.active>a:focus {
    border: 1px solid #ddd;
}

@media (min-width: 768px) {
    .wjs_product .nav-tabs.nav-justified>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .wjs_product .nav-tabs.nav-justified>.active>a,
    .wjs_product .nav-tabs.nav-justified>.active>a:hover,
    .wjs_product .nav-tabs.nav-justified>.active>a:focus {
        border-bottom-color: #fff;
    }
}

/* 信息模块 */
.wjs_news {
    border-top: 1px solid #ccc;
    padding: 40px 0;
}

.wjs_news h3 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.wjs_news h3::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #ccc; 
    position: absolute;
    bottom: -3px;
    right: -6px;
}

.wjs_news .news_line {
    position: absolute;
    height: 100%;
    width: 1px;
    border-right: 1px dashed #ccc;
    left: 45px;
}

.wjs_news .news {
    list-style: none;
}

.wjs_news .news li a{
    font-size: 14px;
    display: block;
    padding: 15px 0;
}





.wjs_news .nav-tabs {
    border-bottom: none;
    text-align: center;
}

.wjs_news .nav-tabs > li {
  float: left;
  margin-bottom: 0;
}
.wjs_news .nav-tabs > li > a {
  margin-right: none;
  border: none; 
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 30px;
  margin-bottom: 60px;
  border-radius: 30px;
  background: #ccc;
  color: #fff;
}

.wjs_news .nav-tabs li:last-child a{
    margin-bottom: 0;
}



.wjs_news .nav-tabs > li > a:hover {
  /* background: #fff; */
}
.wjs_news .nav-tabs > li.active > a,
.wjs_news .nav-tabs > li.active > a:hover,
.wjs_news .nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #e92322;
  border: none;
  border-bottom-color: transparent;
}
.wjs_news .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs_news .nav-tabs.nav-justified > li {
  float: none;
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs_news .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs_news .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs_news .nav-tabs.nav-justified > .active > a,
.wjs_news .nav-tabs.nav-justified > .active > a:hover,
.wjs_news .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs_news .nav-tabs.nav-justified > .active > a,
  .wjs_news .nav-tabs.nav-justified > .active > a:hover,
  .wjs_news .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

@media (max-width:970px) {
    .wjs_news .nav-tabs > li {
        width: 25%;
    }
    .wjs_news .nav-tabs > li a{
        margin: 10px 0;
    }
}


/* 合作伙伴 */
.wjs_partner {
    border-top: 1px solid #ccc;
    padding: 50px 0;
}

.wjs_partner ul {
    list-style: none;
    font-size: 70px;
    text-align: center;
    padding-left: 0;
}

.wjs_partner ul li {
    display: inline-block;
    margin-left: 20px;
}
